{%extends "index.html"%}
{%block content%}
<section style="background-color: #eee;">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <div class="card text-black">
                    {% for item in single_product %}
                    {% for i in single_username%}
                    <i class="fab fa-apple fa-lg pt-3 pb-1 px-3"></i>
                    <img src="{{ item.image_url }}"
                        class="card-img-top"/>
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="text-muted mb-4">Category: {{item.category}}</p>
                            <p class="text-muted mb-4">{{item.description}}</p>
                        </div>
                        <div>
                            <div class="d-flex justify-content-between">
                                <span>Day Price: </span><span>${{item.dayPrice}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Week Price: </span><span>${{item.weekPrice}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Month Price: </span><span>${{item.monthPrice}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Stock: </span><span>{{item.stock}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <span>Owned by: </span><span>{{i.username}}</span>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between total font-weight-bold mt-4">
                            <button type="submit" class="btn btn-sm btn-outline-secondary">Deposit</button>
                        </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{%endblock%}