{%extends "index.html"%}
{%block content%} 
<link href="{{ url_for('static',filename='css/signup.css') }}" rel="stylesheet">
<div class="card-wrapper">
  <div class="card">
      <main class="form-signup w-100 m-auto">
        <form name="signup_form" action="/user/signup" method="post">
          <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
	  <h1 class="h3 mb-3 fw-normal">Please Sign up</h1>
          <div class="form-floating">
            <input type="text" name="username" class="form-control" id="floatingUserInput" placeholder="Username">
            <label for="floatingUserInput">Username</label>
          </div>		  
          <div class="form-floating">
            <input type="password" name="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
          </div>
          <div class="form-floating">
            <input type="email" name="email" class="form-control" id="floatingEmailInput" placeholder="Email">
            <label for="floatingEmailInput">Email</label>
          </div>
		  <div class="form-floating">
            <input type="text" name="phonenumber" class="form-control" id="floatingPhoneNumber" placeholder="+65 1234 5678">
            <label for="floatingPhoneNumber">Phone Number</label>
          </div>
          <p class="error error--hidden"></p>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
        </form>
		
      </main>
  </div>
</div>
{%endblock%}
