{%extends "index.html"%}
{%block content%} 
<link href="/static/css/uploadListing.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<div class="card-wrapper">
    <div class="card">
        <form method="post" action="/user/uploadListing" enctype="multipart/form-data">
		<input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
            {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
            {% endfor %} {% endif %} {% endwith %}
            <h1 class="h3 mb-3 fw-normal">Add Product</h1>
            <dl>
                <p>
                    <label for="imageInput">Choose Image</label>
                    <input type="file" name="file" accept="image/*" class="form-control" autocomplete="off" required>
                </p>
            </dl>
            <d2>
                <p>
                    <label for="titleInput">Listing Title</label>
                    <input type="text" name="title" class="form-control" id="titleInput" placeholder="Name your listing" required>
                </p>
            </d2>
            <d3>
                <p>
                    <label for="priceInput1">Price For a day</label>
                    <input type="number" name="dayPrice" class="form-control" id="priceInput1" placeholder="$" required>
                </p>
            </d3>
            <d4>
                <p>
                    <label for="priceInput2">Price For a week</label>
                    <input type="number" name="weekPrice" class="form-control" id="priceInput2" placeholder="$" required>
                </p>
            </d4>
            <d5>
                <p>
                    <label for="priceInput3">Price For a month</label>
                    <input type="number" name="monthPrice" class="form-control" id="priceInput3" placeholder="$" required>
                </p>
            </d5>
            <d6>
                <p>
                    <label for="stockInput">Stock</label>
                    <input type="number" name="stock" class="form-control" id="titleInput" placeholder="Amount" required> 
                </p>
            </d6>
            <d7>
                <p>
                    <label for="categorySelect">Select category</label>
                    <select class="form-control" name="category" id="categorySelect" required>
                        <option value="DSLR">DSLR Cameras</option>
                        <option value="Instant">Instant Cameras</option>
                        <option value="Flim">Flim Cameras</option>
                        <option value="Compact">Compact Cameras</option>
                    </select>
                </p>
            </d7>
            <d8>
                <p>
                    <label for="descriptionInput">Description</label>
                    <textarea class="form-control" name="description" id="descriptionInput" rows="4" required></textarea>
                </p>
            </d8>
            <p>
                <button class="w-100 btn btn-info" type="submit">LIST IT</button>
            </p>
        </form>
    </div>
</div>
{%endblock%}